<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác nhận đăng ký</title>
</head>

<body style="padding: 0; margin: 0; box-sizing: border-box; font-family: Arial, sans-serif;">
    <div
        style="background-color: #022C25; padding: 30px; color: white; max-width: 650px; margin: auto; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); border-radius: 8px;">
        <div style="display: flex; flex-direction: column; width: 100%; gap: 30px;">
            <div style="width: 100%; text-align: center; display: flex; flex-direction: column; margin-bottom: 5px;">
                <span
                    style="color: white; font-family: 'Beautique Display', serif; font-size: 30px; font-weight: bold; line-height: 30px;">Thông
                    báo xác nhận đăng ký tài khoản</span>
            </div>
            <span style="font-weight: bold;">Xin chào <%= name %>,</span>
            <span style="line-height: 25px;">Chúng tôi ghi nhận rằng khách hàng đã đăng ký tài khoản Joie Palace vào
                ngày <span style="color: #B5905B; font-weight: bold;">
                    <%= date %>
                </span> với địa chỉ email: <span style="color: #B5905B; font-weight: bold;">
                    <%= email %>
                </span></span>
            <span>Nếu không phải bạn, vui lòng <span style="color: #B5905B;">bỏ qua email</span></span>
            <div style="width: 100%; background-color: #F4F4F4; height: 2px; border-radius: 100rem;"></div>
            <div style="text-align: center;">
                <a href="<%= confirmationLink %>"
                    style="background-color: #B5905B; color: white; padding: 15px 25px; border: none; border-radius: 5px; cursor: pointer; text-decoration: none; font-weight: bold;">Xác
                    nhận</a>
            </div>
            <div style="text-align: center;">Hoặc</div>
            <div style="text-align: center;">
                Bấm vào đường link sau để xác nhận: <br> <br>
                <a href="<%= confirmationLink %>" style="color: #B5905B;">
                    <%= confirmationLink %>
                </a>
            </div>
        </div>
        <br>
        <div style="width: 100%; background-color: #F4F4F4; height: 2px; border-radius: 100rem;"></div>
        <div style="margin-top: 30px; text-align: center; font-size: 14px; color: #B5905B;">
            <span>Cảm ơn bạn đã tin tưởng sử dụng dịch vụ của Joie Palace.</span><br>
            <span>Liên hệ chúng tôi: info@joiepalace.com | +84 123 456 789</span>
        </div>
    </div>
</body>

</html>